# Created by https://www.gitignore.io/api/haskell

### Haskell ###
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
.stack-work/
_cache/
_site/
R/*/figure/
R/*/cache/
R/*/.Rhistory
R/*/.RData
notebooks/*/.ipynb_checkpoints
notebooks/ceo/CAT_*
notebooks/ceo/auto
notebooks/*/obipy-resources
notebooks/*/*.pkl
stack.yaml.lock
log_analysis/function.zip
log_analysis/packages
notebooks/ceo/*.jpg