<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		    <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>$title$ - E-Analytica</title>
        <link rel="stylesheet" type="text/css" href="/css/min.css" />
    </head>
    <body>
        <div class="container">
            <div class="logo">
                E-Analytica
            </div>
        </div>
        <nav class="nav" tabindex="-1" >
            <div class="container">
                <a href="/" $if(home)$ class="current" $endif$ >Home</a>
                <a href="/about/" $if(about)$ class="current" $endif$ >About</a>
                <a href="/services/" $if(services)$ class="current" $endif$ >Services</a>
                <a href="/blog/" $if(blog)$ class="current" $endif$ >Archive</a>
                <a href="/contact/" $if(contact)$ class="current" $endif$ >Contact</a>
            </div>
        </nav>

        <div class="container narrow">
            $body$
        <hr/>
        <div id="footer">
            <div class="row">
                <a href="/" $if(home)$ class="current" $endif$ >Home</a>
                <a href="/about" $if(about)$ class="current" $endif$ >About</a>
                <a href="/services/" $if(services)$ class="current" $endif$ >Services</a>
                <a href="/blog/" $if(blog)$ class="current" $endif$ >Archive</a>
                <a href="/notes/" $if(notes)$ class="current" $endif$ >Notes</a>
                <a href="/contact/" $if(contact)$ class="current" $endif$ >Contact</a>
            </div>
        </div>
        </div>
    </body>
</html>
